* {
    margin: 0;
    padding: 0;
    border: 0;
}



.main {
    text-align: center;
    font-family: sans-serif;
}

.logo {
    margin-top: 20px;
}

.body {
    background-color: #cacaca;
 }


.sub {
    padding-top: 20px;
    text-align: center;
}

.ref {
    width: 500px;
    padding: 20px;
}

.film {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.return {
    overflow: hidden;
}
